<div class="header {% if small %}-small{% endif %}">
  <div class="header_bg" {% if image %}data-parallax="-4" style="background-image: url({{ image }})"{% endif %}></div>
  <div class="container">

    <h1>{{ title }}</h1>

    {% if text %}
    <p>{{ text }}</p>
    {% endif %}

  </div>
</div>