{% embed '@wide::modulus-modal' with { id: 'login' } %}
  {% block content %}

  <h2>LOGIN</h2>

  <p>{{ fake() }}</p>

  <form>

    <div class="form-line -required">
      <label for="email">Email address</label>
      <input type="email" name="email" required />
    </div>

    <div class="form-line -required">
      <label for="password">Password</label>
      <input type="password" name="password" required />
    </div>

    <div class="form-controls">
      <button class="btn">OK</button>
    </div>

  </form>

  {% endblock %}
{% endembed %}