@use 'core' as *;

// base reset
@use '@wide/styles-reset';

// grid
@use
  '@wide/styles-grid' as grid with (
    $grid-prefix: 's-',
    $containers: (),
    $grid-gutter: $grid-gutter-default
  );

// generic
// @use 'generic/fonts';
// @use 'generic/common';
// @use 'generic/animation';

// modulus components
// @use '@wide/modulus-accordion';
// @use '@wide/modulus-dropdown';
// @use '@wide/modulus-slider';
// @use '@wide/modulus-modal';

// project components (@ alias of src/)
// @use '@/components/topmenu';
// @use '@/components/header';
// @use '@/components/footer';
// @use '@/components/text';
// @use '@/components/card';
// @use '@/components/card-slider';
// @use '@/components/modal-login';

// elements
// @use 'elements/buttons';
// @use 'elements/forms';
// @use 'elements/section';
// @use 'elements/table';
