<div class="intro" is="intro">
  <div class="intro_block">
    <h1>Modulus</h1>
    <h2>Robust Web Component interface</h2>
  </div>
  
  <div class="intro_block">
    <div class="container">
      <ul ref="modules" class="modules-list row flex-direction-column flex-direction-row@md"></ul>
    </div>
  </div>

  <template ref="module-item">
    {% include '::module-item' %}
  </template>
</div>