@use '~/core' as *;


// =============================================================================
// 5# Elements / Section
// =============================================================================
.section {
  position: relative;
  padding: 100px 0;

  &.-gray {
    background: #E0E0E0;
  }
}
