<div class="card">
  <a href="{{ url }}">
    <div class="card_header">
      <div class="card_img" style="background-image: url({{ image }})"></div>
    </div>
    <div class="card_content">
      <h3 class="card_title">{{ title }}</h3>
      <p class="card_text">{{ text | raw }}</p>
    </div>
  </a>
</div>