{% extends 'layouts/default' %}
{% block header %}

  {# exemple of an header with parallax effect #}
  {# see /src/components/header/ #}
  {% include 'components/header' with {
    image: 'https://picsum.photos/1920/550',
    title: 'ARTICLE',
    small: true
  } %}

{% endblock %}
{% block main %}

  <div class="article section">
    <div class="container">

      Article page

    </div>
  </div>

{% endblock %}