{% extends 'layouts/default' %}
{% block header %}

  {# exemple of an header with parallax effect #}
  {# see /src/components/header/ #}
  {% include 'components/header' with {
    image: 'https://picsum.photos/1920/550',
    title: 'FAQ',
    small: true
  } %}

{% endblock %}
{% block main %}

  <div class="faq section">
    <div class="container">

      <div class="row">
        <div class="col-lg-4">

          <p>{{ fake('lorem.paragraph') }}</p>
          <p>{{ fake('lorem.paragraph') }}</p>
          <p>{{ fake('lorem.paragraph') }}</p>

        </div>
        <div class="col-lg-8">

          {% include '@wide::modulus-accordion' with {
            items: [{
              title: fake('lorem.words') ~ ' ?',
              body: fake('lorem.paragraphs', 4),
              show: false
            }, {
              title: fake('lorem.words') ~ ' ?',
              body: fake('lorem.paragraphs', 4),
              show: false
            }, {
              title: fake('lorem.words') ~ ' ?',
              body: fake('lorem.paragraphs', 4),
              show: false
            }, {
              title: fake('lorem.words') ~ ' ?',
              body: fake('lorem.paragraphs', 4),
              show: false
            }, {
              title: fake('lorem.words') ~ ' ?',
              body: fake('lorem.paragraphs', 4),
              show: false
            }]
          } %}

        </div>
      </div>

    </div>
  </div>

{% endblock %}