<!doctype html>
<html>
  <head>

    <title>{{ site.title }}</title>
    {% include '::meta' %}
    {% include '::favicon' %}

    <link rel="stylesheet" href="assets/main.css?{{ random() }}">
    {% block stylesheets %}{% endblock %}

  </head>
  <body>

    <div id="page">

      {% include '::topmenu' %}

      <header>
        {% block header %}{% endblock %}
      </header>

      <main>
        {% block main %}{% endblock %}
      </main>

      {% include '::footer' %}
      {% include '::modal-login' %}

    </div>

    <script src="assets/polyfills.js?{{ random() }}"></script>
    <script src="assets/main.js?{{ random() }}"></script>
    {% block scripts %}{% endblock %}

  </body>
</html>