///
/// Colors variables.
///

/// Palette
/// =============================================================================

///
/// Syntax recommendation :
///   $colorName: #1E1E1E;
///   $colorName-lighter: lighten($colorName, 30%);
///   $colorName-light: lighten($colorName, 15%);
///   $colorName-dark: darken($colorName, 15%);
///   $colorName-darker: darken($colorName, 30%);
///

// black
$black: #1E1E1E;
$black-lighter: lighten($black, 30%);
$black-darker: black;

// white
$white: white;
$gray: darken($white, 30%);
$gray-darker: darken($gray, 30%);


/// Specific
/// ============================================================================

// HTML (reboot & print)
$html-default-color: #000;

// Link
$link-color: #20639B;
$link-active-color: darken($link-color, 10%);

// Selection
$selection-text-color: $white;
$selection-background-color: $black;

// Form (input, select...)
$form-error: #C70039;
$form-border-color: $gray;
$form-active-border-color: $gray-darker;


/// Social Colors
/// ============================================================================

$facebook-color: #3B5998;
$instagram-color: #E1306C;
$youtube-color: #CD201F;
$twitter-color: #1DA1F2;
