///
/// Fonts variables.
///

// font operating system
$font-family-system: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !default; // font operating system
$font-family-headings: sans-serif !default; // font for h1, h2.. h6
$font-family-monospace: consolas, courier, monospace !default; // font for code and samples

// weight
$weight-light: 200 !default;
$weight-book: 300 !default;
$weight-regular: 400 !default;
$weight-medium: 500 !default;
$weight-bold: 700 !default;
