///
/// Grid variables.
///

/* stylelint-disable */

// stylelint is disable because for gutter
// `@wide/styles-grid` accept only px

// default gutter (mobile first)
$grid-gutter-default: 10px !default;

// gutter for desktop resolution
$grid-gutter-desktop: 30px !default;

// grid margin (mobile first)
$grid-margin-default: 2rem !default;

// grid margin for desktop resolution
$grid-margin-desktop: 6rem !default;

/* stylelint-enable */
